---
import { getCollection, render } from "astro:content";
import { type CollectionEntry } from "astro:content";
import "../styles/global.css";
import { Breadcrumbs } from "../components/breadcrumbs";
import BaseLayout from "../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);

const date =
  post.data.pubDate.toLocaleDateString("es-ES", {
    month: "long",
  }) +
  ", " +
  post.data.pubDate.getFullYear();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <!-- <div>
    <Breadcrumbs
      paths={[
        { label: "colección", href: "/" },
        {
          label: post.data.title,
          href: `/${post.id}`,
          disabled: true,
        },
      ]}
    />
  </div> -->
  <div>
    <h1>{post.data.title}. <time class="text-typography-200">{date}</time></h1>
  </div>
  <p class="text-typography-200">{post.data.description}</p>

  <article class="prose prose-lg max-w-none text-balance space-y-8 mt-8">
    <Content />
  </article>
</BaseLayout>
