---
import { getCollection } from "astro:content";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body
    class="min-h-screen bg-linear-to-br from-foreground-100 to-foreground-300 text-typography-100 p-8 antialiased text-xl bg-foreground-100"
  >
    <div
      class="flex flex-col md:flex-row gap-8 md:gap-32 justify-between max-w-5xl"
    >
      <aside
        class="order-2 md:order-1 md:sticky md:max-w-sm md:top-8 h-fit shrink-0"
      >
        <h1>reno</h1>
        <p class="text-balance text-typography-200">
          colección de notas para mi familia y amigos. eres un invitado,
          comparte como tal.
        </p>
        <section class="py-4">
          <h2>colección</h2>
          {
            posts.map((post) => {
              const date =
                post.data.pubDate.toLocaleDateString("es-ES", {
                  month: "numeric",
                }) +
                ", " +
                post.data.pubDate.getFullYear();
              return (
                <article class="ml-8">
                  <a
                    href={`/${post.id}`}
                    class="block group hover:text-primary"
                  >
                    <h1>
                      {post.data.title}.
                      <time class="text-typography-200">{date}</time>
                    </h1>
                  </a>
                </article>
              );
            })
          }
        </section>
      </aside>
      <main class="order-1 md:order-2 flex-1 md:max-w-lg">
        <slot />
      </main>
    </div>
  </body>
</html>
